@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, p, h1, ul, li, label, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 50px auto;

  padding: 35px; 
  /* border: 1px solid rgb(73, 73, 73);
  border-radius: 7px; */
}

  .container .app-header{
    font-size: 46px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 18px;
  }

  .container .app-header sup {
    font-size: 18px;
  }

.input-field {
  position: relative;
  margin-bottom: 35px;
}

  .input-field input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: 0;
    
  }

  .input-field .add-button {
    position: absolute;
    right: 0;
    top: 10px;
    border: none;

    background: transparent url('./img/add-icon.svg') no-repeat center center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: opacity 0.2s;
  }

    .input-field .add-button:hover {
      opacity: 0.7;
    }

  .input-field label {
    position: absolute;
    left: 0;
    top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(181, 181, 181);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

.input-field.active label{
  top: -8px;
  font-size: 12px;
  color: #09caff;
  transition: all 0.3s ease-in-out;
}

.input-field.active input{
  border-bottom: 1px solid #09caff;
}

.todo-list {
  list-style: none;
  padding-left: 0;
}

  /* .todo-list .no-todos-text {

  } */

.todo-item {
  margin-bottom: 1rem;
}

.todo-item span{
  color: rgb(129, 129, 129);
}

.todo-item.completed span {
  text-decoration: line-through;
}

.todo-item label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  border-radius: 2px;
  padding: 1rem;
}

.todo-item label .wrapper {
  display: flex;
  gap: 20px;
}

.todo-item label .todo-item-checkbox {
  width: 20px;
  height: 20px;
  /* border: 1px solid #3F72AF;
  border-radius: 2px; */
  accent-color: rgb(143, 238, 130);
}

.todo-item label .todo-item-edit-input {
  font-size: 16px;
  border: none;
  border-radius: 2px;
  width: 300px;
}

.todo-item button {
  /* background-color: white; */
  /* color: red; */
  cursor: pointer;
  border: none;
  /* border-radius: 2px; */
  padding: 2px 7px;
  margin-right: 5px;
  line-height: 18px;

  
  width: 30px;
  height: 30px;
  transition: opacity 0.2s;
}

.todo-item button:hover {
  opacity: 0.7;
}

  .todo-item .del-button {
    background: transparent url('./img/x-square-icon.svg') no-repeat center center;
  }

  .todo-item .edit-button {
    background: transparent url('./img/edit-icon.svg') no-repeat center center;
  }

  .todo-item .return-button {
    background: transparent url('./img/return-icon.svg') no-repeat center center;
  }

  .todo-item .done-button {
    background: transparent url('./img/tick-icon.svg') no-repeat center center;
  }

/* .todo-item button:hover {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
} */

.todo-item i {
  z-index: 2;
}